services:
  librespeed:
    image: lscr.io/linuxserver/librespeed:latest
    restart: unless-stopped
    environment:
      - TZ=Europe/London
      - PUID=1000
      - PGID=1000
    volumes:
      - librespeed_config:/config
      - ./branding/naked.css:/config/www/naked.css

    expose:
      - "80"

volumes:
  librespeed_config:
