services:
  librespeed:
    image: lscr.io/linuxserver/librespeed:latest
    restart: unless-stopped
    environment:
      - TZ=Europe/London
      - PUID=1000
      - PGID=1000
    volumes:
      - librespeed_config:/config
      # IMPORTANT: no :ro
      - ./branding:/config/www
    expose:
      - "80"

volumes:
  librespeed_config:
