services:
  librespeed:
    build: .
    restart: unless-stopped
    environment:
      - TZ=Europe/London
      - PUID=1000
      - PGID=1000
    volumes:
      - librespeed_config:/config
    expose:
      - "80"

volumes:
  librespeed_config:
